# ----------- Projects -----------
bin/
obj/
/packages/
/Majo.Logging.sln.DotSettings.user

# ----------- Rider -----------
riderModule.iml
/_ReSharper.Caches/
.idea/

# ----------- Custom -----------
/artifacts/